body {
	background-color: green;
}

table {
    margin-right: auto;
    margin-left: auto;
}

h1 {
	color: black;
}

#board {
	margin: 40px
}

.square {
	width: 100px;
	height: 100px;
	margin: 20px;
	text-align: center;
}

.vertical {
	border-left: 3px solid black;
	border-right: 3px solid black;
}

.horizontal {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

#row {
	font-size: 60px;
}

.button {
	margin: 0 auto;
	text-align: center;
}

#end {
	font: sans-serif;
	background-color: purple;
}

#turn {
	font: 25px sans-serif;
	color: black;
}